*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

ul {
  list-style: none;
}

a {
  color: #cacaca;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 25px;
}
.header .container .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  color: #cacaca;
}
.header .container .header__inner .header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.header .container .header__inner .header__search {
  display: inline-block;
  border-radius: 50px;
  padding: 5px 10px;
  background: #3c3b3d;
  border: none;
  color: #ffffff;
  min-width: 248px;
  padding-left: 20px;
}
.header .container .header__inner .header__search::placeholder {
  text-transform: uppercase;
}
.header .container .header__inner .header__logo {
  align-items: center;
}
.header .container .header__inner .header__logo .logo {
  display: flex;
  margin-right: 90px;
}
.header .container .header__inner .header__logo .logo__image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.header .container .header__inner .header__logo .logo:hover {
  color: #ffffff;
}
.header .container .header__inner .header__logo .logo:active {
  color: #ffffff;
}
.header .container .header__inner .header__menu {
  display: flex;
}
.header .container .header__inner .header__menu .header__list {
  display: flex;
}
.header .container .header__inner .header__menu li .menu__link {
  margin-right: 24px;
}
.header .container .header__inner .header__menu li .menu__link:hover {
  color: #ffffff;
}
.header .container .header__inner .header__menu li .menu__link:active {
  color: #ffffff;
}

@media (max-width: 960px) {
  .header {
    font-size: 14px;
  }
  .header .container .header__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .header .container .header__inner .header__nav {
    flex-wrap: wrap;
  }
  .header .container .header__inner .header__search {
    width: 100%;
  }
  .header .container .header__inner .header__menu .header__list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 18px 0;
  }
  .header .container .header__inner .header__menu li {
    width: 100%;
  }
}
#page-description.banner {
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
#page-description.banner .container .banner__inner {
  margin: 0 auto;
  color: #ffffff;
}
#page-description.banner .container .banner__inner .banner__text {
  margin-top: 30px;
  margin-bottom: 17px;
}
#page-description.banner .container .banner__inner .banner__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}
#page-description.banner .container .banner__inner .banner__input {
  display: block;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: solid 2px #cacaca;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}
#page-description.banner .container .banner__inner .banner__input::placeholder {
  color: #ffffff;
  font-weight: bold;
}
#page-description.banner .container .banner__inner .banner__button {
  color: #ffffff;
  background-color: #34c176;
  border: none;
}

@media (max-width: 960px) {
  #page-description.banner {
    padding-top: 250px;
  }
  #page-description.banner .container .banner__inner .banner__title {
    line-height: 45px;
  }
  #page-description.banner .container .banner__inner .banner__subtitle {
    line-height: 27px;
  }
  #page-description.banner .container .banner__inner .banner__text {
    margin: 16px 0;
    font-size: 16px;
  }
  #page-description.banner .container .banner__inner .banner__input {
    width: 100%;
    margin-bottom: 24px;
  }
}
#page-pricing.pricing {
  padding-top: 100px;
  color: #ffffff;
}
#page-pricing.pricing .container .pricing__inner .pricing__cards {
  margin: 45px 0px;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
#page-pricing.pricing .container .pricing__inner .pricing__item {
  border-radius: 1rem;
  padding: 24px;
  margin-right: 50px;
}
#page-pricing.pricing .container .pricing__inner .pricing__item:last-child {
  margin-right: 0;
}
#page-pricing.pricing .container .pricing__inner .pricing__item .card__title {
  font-weight: normal;
  margin-bottom: 200px;
}
#page-pricing.pricing .container .pricing__inner .pricing__item .card__price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 32px;
}
#page-pricing.pricing .container .pricing__inner .pricing__item .card__price .num {
  font-size: 64px;
  margin-right: 16px;
  line-height: 1em;
}
#page-pricing.pricing .container .pricing__inner .pricing__item .card__button {
  margin-top: 40px;
  margin-bottom: 64px;
}
#page-pricing.pricing .container .pricing__inner .pricing__item .card__text {
  font-size: 12.8px;
}
#page-pricing.pricing .container .pricing__inner .pricing__item.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
#page-pricing.pricing .container .pricing__inner .pricing__item.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
#page-pricing.pricing .container .pricing__inner .pricing__item.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 960px) {
  #page-pricing.pricing .container .pricing__inner .pricing__cards {
    display: flex;
    flex-wrap: wrap;
  }
  #page-pricing.pricing .container .pricing__inner .pricing__item {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
#page-news.news {
  padding-top: 100px;
}
#page-news.news .container .news__inner .news__title {
  margin-bottom: 50px;
}
#page-news.news .container .news__inner .news__item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 65px;
}
#page-news.news .container .news__inner .news__item:last-child {
  margin-bottom: 0;
}
#page-news.news .container .news__inner .news__item.reversed {
  flex-direction: row-reverse;
}
#page-news.news .container .news__inner .news__column {
  width: 100%;
}
#page-news.news .container .news__inner .news__column .news__image {
  width: 100%;
}
#page-news.news .container .news__inner .news__column .news__content {
  text-align: left;
}
#page-news.news .container .news__inner .news__column .content__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
}
#page-news.news .container .news__inner .news__column .content__text {
  margin-bottom: 24px;
  font-weight: normal;
  color: #cacaca;
}
#page-news.news .container .news__inner .news__column .content__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
#page-news.news .container .news__inner .news__column .content__author .author__avatar {
  margin-right: 16px;
}
#page-news.news .container .news__inner .news__column .content__author .author__profile {
  margin-right: 16px;
  color: #f89202;
  text-transform: uppercase;
}
#page-news.news .container .news__inner .news__column .content__author .author__profile:hover {
  text-decoration: underline;
}
#page-news.news .container .news__inner .news__column .content__author .author__date {
  color: #cacaca;
}
#page-news.news .container .news__inner .news__column .btn.content__button {
  max-width: 135px;
}

@media (max-width: 960px) {
  #page-news.news .container .news__inner .news__item {
    flex-wrap: wrap;
  }
  #page-news.news .container .news__inner .news__column .content__title {
    font-size: 16px;
  }
  #page-news.news .container .news__inner .news__column .content__text {
    font-size: 16px;
  }
  #page-news.news .container .news__inner .news__column .content__author {
    font-size: 12.8px;
  }
}
#page-app.app {
  padding-top: 100px;
}
#page-app.app .container {
  margin-bottom: 100px;
}
#page-app.app .container .app__title {
  margin-bottom: 50px;
}
#page-app.app .container .app__inner {
  display: flex;
  justify-content: space-between;
}
#page-app.app .container .app__inner .app__column {
  width: 50%;
  text-align: left;
}
#page-app.app .container .app__inner .app__column:last-child {
  text-align: center;
}
#page-app.app .container .app__inner .app__content {
  text-align: left;
  margin-bottom: 16px;
}
#page-app.app .container .app__inner .btn.app__button {
  width: unset;
  text-transform: none;
  font-size: 12.8px;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  background-color: #95390c;
}

@media (max-width: 960px) {
  #page-app.app .container .app__inner {
    flex-direction: column-reverse;
  }
  #page-app.app .container .app__inner .app__column {
    width: 100%;
  }
}
.footer .container .footer__content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 62px;
  padding-bottom: 72px;
}
.footer .container .footer__content .footer__column .column__title {
  margin-bottom: 15px;
}
.footer .container .footer__content .footer__column .column__nav .column__list li .column__link {
  color: #e0e0e0;
}
.footer .container .footer__content .footer__column.social .column__list {
  display: flex;
}
.footer .container .footer__content .footer__column.social .column__list .column__link {
  margin-right: 24px;
}
.footer .container .break {
  border: none;
  height: 1px;
  background-color: #cacaca;
  margin-right: -90px;
  margin-left: -90px;
}
.footer .container .footer__menu {
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer .container .footer__menu .footer__list {
  display: flex;
  justify-content: start;
}
.footer .container .footer__menu .footer__list li .footer__link {
  margin-right: 16px;
}
.footer.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media (max-width: 960px) {
  .footer .container .footer__content {
    flex-direction: column;
  }
  .footer .container .footer__content .footer__column .column__nav {
    padding-bottom: 30px;
  }
  .footer .container .footer__content .footer__column .column__nav .column__list li .column__link {
    line-height: 150%;
  }
  .footer .container .break {
    margin-right: -20px;
    margin-left: -20px;
  }
  .footer .container .footer__menu {
    padding-top: 40px;
    padding-bottom: 48px;
  }
  .footer .container .footer__menu .footer__list {
    flex-direction: column;
    text-align: left;
  }
  .footer .container .footer__menu .footer__list li {
    padding-bottom: 16px;
  }
  .footer .container .footer__menu .footer__list li:last-child {
    padding-bottom: 0;
  }
}
.intro {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 223px;
}
.intro .container .intro__inner {
  text-align-last: left;
}
.intro .container .intro__inner .intro__title {
  padding-top: 250px;
}
.intro .container .intro__inner .intro__text {
  padding-top: 16px;
  padding-bottom: 48px;
}
.intro .container .intro__inner .intro__buttons {
  display: flex;
  justify-content: flex-start;
}
.intro .container .intro__inner .btn {
  border: none;
  max-width: 200px;
  position: relative;
  padding-left: 67px;
}
.intro .container .intro__inner .btn.button__play {
  background-color: #5328a1;
  margin-right: 24px;
}
.intro .container .intro__inner .btn.button__play img {
  position: absolute;
  top: calc(50% - 10px);
  left: 31px;
  filter: invert(99%) sepia(4%) saturate(934%) hue-rotate(288deg) brightness(116%) contrast(100%);
}
.intro .container .intro__inner .btn.button__play:hover {
  opacity: 0.7;
}
.intro .container .intro__inner .btn.button__heart {
  background-color: #95390c;
}
.intro .container .intro__inner .btn.button__heart img {
  position: absolute;
  top: calc(50% - 10px);
  left: 31px;
  filter: invert(99%) sepia(4%) saturate(934%) hue-rotate(288deg) brightness(116%) contrast(100%);
}
.intro .container .intro__inner .btn.button__heart:hover {
  opacity: 0.7;
}

@media (max-width: 960px) {
  .intro .container .intro__inner .intro__title {
    line-height: 1;
  }
  .intro .container .intro__inner .intro__buttons {
    flex-direction: column;
  }
  .intro .container .intro__inner .btn.button__play {
    margin-bottom: 24px;
  }
}
#page-popular-track.popular {
  margin-top: 100px;
}
#page-popular-track.popular .container .popular__title {
  text-align-last: left;
}
#page-popular-track.popular .container .popular__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 25px;
  margin-top: 48px;
}
#page-popular-track.popular .container .popular__inner .popular__track {
  display: flex;
  justify-content: space-between;
  min-width: calc(50% - 25px);
  align-items: center;
  font-size: 12.8px;
}
#page-popular-track.popular .container .popular__inner .popular__track:hover {
  opacity: 0.7;
}
#page-popular-track.popular .container .popular__inner .track__info {
  display: flex;
  justify-content: start;
}
#page-popular-track.popular .container .popular__inner .track__info .track__cover {
  width: 55px;
  margin-right: 15px;
}
#page-popular-track.popular .container .popular__inner .track__info .track__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#page-popular-track.popular .container .popular__inner .track__info .track__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 960px) {
  .container .popular__inner .popular__track {
    width: 100%;
  }
}
#page-discography.discography {
  margin-top: 100px;
}
#page-discography.discography .container .discography__title {
  text-align-last: left;
  margin-bottom: 48px;
}
#page-discography.discography .container .discography__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
#page-discography.discography .container .discography__inner .discography__item {
  text-align: left;
}
#page-discography.discography .container .discography__inner .item__cover {
  margin-bottom: 18px;
}
#page-discography.discography .container .discography__inner .item__title {
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 960px) {
  #page-discography.discography .container .discography__inner .item__cover {
    width: 137px;
    height: 137px;
  }
  #page-discography.discography .container .discography__inner .item__title {
    max-width: 138px;
  }
}
.similar {
  margin-top: 100px;
}
.similar .container .similar__title {
  text-align-last: left;
  margin-bottom: 48px;
}
.similar .container .similar__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
  padding-bottom: 100px;
}
.similar .container .similar__inner .similar__name {
  color: #ffffff;
}
@media (max-width: 960px) {
  .similar .container .similar__inner {
    font-size: 16px;
  }
  .similar .container .similar__inner .similar__cover {
    width: 137px;
    height: 137px;
  }
  .similar .container .similar__inner .similar__text {
    max-width: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
