#page-description.banner {
  padding: 200px 0;

  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
  .container {
    .banner__inner {
      margin: 0 auto;
      color: $white;
      .banner__text {
        margin-top: 30px;
        margin-bottom: 17px;
      }
      .banner__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 570px;
        width: 100%;
        margin: 0 auto;
      }
      .banner__input {
        display: block;
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        margin-bottom: 1.5rem;
        border: solid 2px $darkGrey;
        border-radius: 3px;
        background-color: transparent;
        color: $white;
        font-weight: bold;

        &::placeholder {
          color: $white;
          font-weight: bold;
        }
      }
      .banner__button {
        color: $white;
        background-color: $green;
        border: none;
      }
    }
  }
}

@media (max-width: 960px) {
  #page-description.banner {
    padding-top: 250px;
    .container {
      .banner__inner {
        .banner__title {
          line-height: 45px;
        }
        .banner__subtitle {
          line-height: 27px;
        }
        .banner__text {
          margin: 16px 0;
          font-size: 16px;
        }
        .banner__input {
          width: 100%;
          margin-bottom: 24px;
        }
      }
    }
  }
}
