#page-discography.discography {
  margin-top: 100px;
  .container {
    .discography__title {
      text-align-last: left;
      margin-bottom: 48px;
    }
    .discography__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 25px 50px;
      .discography__item {
        text-align: left;
      }
      .item__cover {
        margin-bottom: 18px;
      }
      .item__title {
        font-weight: bold;
        color: $white;
      }
    }
  }
}

@media (max-width: 960px) {
  #page-discography.discography {
    .container {
      .discography__inner {
        .item__cover {
          width: 137px;
          height: 137px;
        }
        .item__title {
          max-width: 138px;
        }
      }
    }
  }
}
