#page-popular-track.popular {
  margin-top: 100px;
  .container {
    .popular__title {
      text-align-last: left;
    }
    .popular__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px 25px;

      margin-top: 48px;
      .popular__track {
        display: flex;
        justify-content: space-between;
        min-width: calc(50% - 25px);
        align-items: center;

        font-size: 12.8px;
        &:hover {
          opacity: 0.7;
        }
      }
      .track__info {
        display: flex;
        justify-content: start;

        .track__cover {
          width: 55px;
          margin-right: 15px;
        }
        .track__data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        .track__title {
          text-transform: uppercase;
          font-weight: bold;
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .container {
    .popular__title {
    }
    .popular__inner {
      .popular__track {
        width: 100%;
        .track__info {
        }
        .track__duration {
        }
        .track__cover {
        }
        .track__data {
          .track__title {
          }
          .track__artist {
          }
        }
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
  }
}
